@import "tailwindcss";

@theme {
  --font-sans: var(--font-glacial), ui-sans-serif, system-ui, sans-serif;
  
  /* Palette de couleurs officielle PulseX */
  --color-pulse-pink: #EF5A98;
  --color-pulse-burgundy: #B14371;
  --color-pulse-mid: #E96CA0;
  --color-pulse-light: #EE92B8;
  --color-pulse-footer: #EC5996;

  


}