@import "tailwindcss";

@theme {
  --font-sans: var(--font-glacial), ui-sans-serif, system-ui, sans-serif;
  
  /* Palette de couleurs officielle PulseX */
  --color-pulse-pink: #EF5A98;
  --color-pulse-burgundy: #893457;
  --color-pulse-mid: #B84274;
}